{{! @glint-nocheck: we only typecheck this app in the strict templates }}

<nav>
  <LinkTo @route="index">Home</LinkTo>
  <LinkTo @route="first">First</LinkTo>
  <LinkTo @route="second">Second</LinkTo>
  <Example />
</nav>
{{outlet}}